.inp1{
    width: 79.9%;
    height: 6vh;
    position: relative;
    top: -2vh;
    outline: none;
    border: none;
}

.input2{
    outline: none;
    width: 79.9%;
}

.button{
    border: none;
    width: 70px;
    height: 50px;
    border-radius: 50px;
}